pre_commit==4.5.0
ruff==0.14.6
dotenv==0.9.9
python-dotenv==1.2.1
pytest==9.0.2
pytest-asyncio==1.3.0
pytest-dotenv==0.5.2
pytest-mock==3.15.1
cfgv==3.5.0
colorama==0.4.6
distlib==0.4.0
filelock==3.24.2
identify==2.6.16
iniconfig==2.3.0
nodeenv==1.10.0
packaging==26.0
platformdirs==4.9.2
pluggy==1.6.0
Pygments==2.19.2
PyYAML==6.0.3
typing_extensions==4.15.0
fastapi==0.128.0
pydantic==2.12.5
uvicorn==0.40.0
python-json-logger==4.0.0
httpx==0.28.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
certifi==2026.2.25
click==8.3.1
h11==0.16.0
httpcore==1.0.9
idna==3.11
pydantic_core==2.41.5
python-discovery==1.2.0
starlette==0.50.0
typing-inspection==0.4.2
aiokafka==0.13.0
async-timeout==5.0.1